aniso8601==10.0.1
blinker==1.9.0
click==8.1.7
colorama==0.4.6
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.5
pytz==2024.1
six==1.16.0

# --- Dependências principais da API ---
Flask==2.3.3
Flask-RESTful==0.3.10
SQLAlchemy==2.0.28
psycopg2-binary==2.9.6

# --- Manipulação e anonimização de dados ---
pandas==2.3.3
python-dateutil==2.8.2
cryptography==43.0.3

# --- Variáveis de ambiente ---
python-dotenv==1.0.0

# --- Logs e debug ---
Werkzeug==2.3.7